@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat&family=Fuzzy+Bubbles&family=Grandstander:wght@100&family=Roboto+Mono:wght@300&display=swap");


*{  padding: 0;
    margin: 0;
    font-family: "Architects Daughter", cursive;
    text-align: center;
    font-size: 1.2rem;
}
.navbar{
    background-color: rgb(3, 3, 77);
}
.nav-link:hover {
    font-weight: bolder;
}
#index {
    background-image: url(../img/1.webp); 
    background-attachment: fixed;
    background-size: cover;
}
#bienvenida, #niveles, #tipo {
    background-color: rgba(144, 247, 247, 0.575);
}
#conversor {
    background-image: url(../img/2.jpg); 
    background-attachment: fixed;
    background-size: cover;
}
#crud {
    background-image: url(../img/3.webp); 
    background-attachment: fixed;
    background-size: cover;
}
#btnMetrosA, #btnPiletasA{
    display: inline;
}
#formMetrosA, #formPiletasA{
    display:none;
}
button, .swal-button {
    background-color: rgb(3, 3, 77);
    color: rgba(181, 188, 247, 0.733);
    text-shadow: 1px 1px 1px rgba(202, 176, 250, 0.308);
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.171);
    font-weight: bolder;
    font-size: 1rem;
    font-family: "Architects Daughter", cursive;
    padding: 0.5rem;
}
button:hover, .swal-button:hover {
    background-color: black;
    color: rgb(217, 217, 235);
    cursor: pointer;
    box-shadow: 0px 0px 10px 10px;
}
label{
    background-color:rgba(181, 188, 247, 0.733);
    padding: 0.4rem;
    border-radius: 5px;
    text-shadow: 1px 1px 1px rgb(202, 176, 250);
}
#tablaRutinasListadas, #tablaRutinasArmadas, #tablaRutinasEncontradas {
    background-color: rgba(215, 213, 243, 0.466);
    width: 90%;
    border-radius: 5px;
    margin:auto;
   }
#filas {
    border: solid 1px black;
    margin:auto;
    text-align: left;
}
#filas:hover {
    background-color: rgba(212, 224, 231, 0.589);
    cursor: pointer;
}
#formularioArmarRutina {
    display: none;
}
#crudNombre, #convNombre {
    background-color: rgba(144, 247, 247, 0.575);
    width: 70%;
    margin: auto;
    border-radius: 4px;
}
#divDeRutina, #divFrase, card{
    background-color:rgba(181, 188, 247, 0.733) ;
    width: 75%;
    margin:auto;
    border-radius: 4px;
}
.swal-overlay {
    background-color: rgba(81, 141, 219, 0.45);
}
.swal-modal {
    background-color: rgb(197, 195, 255);
}

.swal-text{
    font-size: 1.8rem;
}

#divvElementos {
    color:rgb(8, 8, 105);
    font-weight: 700;
}

